/TrabajoSemana02/Tp02/nbproject/private/
/TrabajoSemana02/Tp02/build/
/TrabajoSemana02/Tp03/nbproject/private/
/TrabajoSemana02/Tp03/build/
/TrabajoSemana03/Tp03/nbproject/private/
/TrabajoSemana03/Tp03/build/
