/TrabajoSemana02/Tp02/nbproject/private/
/TrabajoSemana02/Tp02/build/
/TrabajoSemana02/Tp03/nbproject/private/
/TrabajoSemana02/Tp03/build/
/TrabajoSemana03/Tp03/nbproject/private/
/TrabajoSemana03/Tp03/build/
/TrabajoSemana04/TP04/nbproject/private/
/TrabajoSemana04/TP04/build/
/TrabajoSemana05/TP05/nbproject/private/
/TrabajoSemana06/TP06/nbproject/private/
/TrabajoSemana06/TP06/build/
/TrabajoSemana07/TP07/nbproject/private/
/TrabajoSemana07/TP07/build/
/TrabajoSemana08/TP08/nbproject/private/
/TrabajoSemana08/TP08/build/
