/TrabajoSemana02/Tp02/nbproject/private/
/TrabajoSemana02/Tp02/build/
/TrabajoSemana02/Tp03/nbproject/private/
/TrabajoSemana02/Tp03/build/
/TrabajoSemana03/Tp03/nbproject/private/
/TrabajoSemana03/Tp03/build/
/TrabajoSemana04/TP04/nbproject/private/
/TrabajoSemana04/TP04/build/
/TrabajoSemana05/TP05/nbproject/private/
